
# Create your config here and safe as 'config.py'.
# Things in 'app_config' must all be set. ($ head -c 32 /dev/random | sha1sum)
# 'run_config' and 'meta' are optional but have to be a dict.

app_config = {
    'SECRET_KEY': 'some_key',

    # db uri
    # memory
    'SQLALCHEMY_DATABASE_URI': 'sqlite:///:memory:',
    # sqlite
    #app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///../db.db'
    # mysql
    #app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql+pymysql://username:password@server.site.com/database'
}

# If this is filled this server will
# send an email each time somebody signs up.
# To disable leave the dict empty
email_config = {
    'HOST': 'some_host',
    'PORT': 587,
    'ADDR': 'some_mail',
    'USER' :'some_user', # None for ADDR
    'PASSWORD': 'some_password'
}

run_config = {
    'DEBUG': False,
    'HOST': '127.0.0.1',
    'PORT': 5000
}
