
# Create your config here and safe as 'config.py'.
# Things in 'app_config' must all be set. ($ head -c 32 /dev/random | sha1sum)
# 'run_config' and 'meta' are optional but have to be a dict.

meta = {
    "description": "Teilnehmerliste und Anmeldeformular der Langener Stadtmeisterschaft 2019",
    "author": "SK Langen e.V."
}

app_config = {
    'SECRET_KEY': 'some_key',

      # db uri
      # memory
      'SQLALCHEMY_DATABASE_URI': 'sqlite:///:memory:',
      # sqlite
      #app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///../db.db'
      # mysql
      #app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql+pymysql://username:password@server.site.com/database'

    'RECAPTCHA_PUBLIC_KEY': 'some_other_key',
    'RECAPTCHA_PRIVATE_KEY': 'some_otherer_key'
}

run_config = {
    'DEBUG': False,
    'HOST': '127.0.0.1',
    'POST': 5000
}
