AUTO REPLY
==========

subject:
Langener Stadtmeisterschaft - Ihre Anmeldung wurde bearbeitet

receiver:
{{ player.email }}

body:
<p>
    {{ player.title() }} {{ player.name }},
</p>

<p>
    hiermit möchten wir sie darauf hinweisen, dass ihre Anmeldung für die Langener Stadtmeisterschaft bei uns eingegangen ist.<br />
    Wir freuen uns über ihre Teilnahme und stehen ihnen über diese Adresse für Rückfragen offen.
</p>

<p>
    Herzliche Grüße,<br />
    Ihre Turnierleitung des SK Langen.
</p>
