<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		{% if title: %}
			<title>Stadtmeisterschaft - {{ title }}</title>
		{% else: %}
			<title>Stadtmeisterschaft</title>
		{% endif %}

    <meta name="description" content="Teilnehmerliste und Anmeldeformular der Langener Stadtmeisterschaft 2019">
    <meta name="author" content="SK Langen e.V.">

	</head>
	<body>
		{% if title: %}
			<h2 id="title">{{ title }}</h2>
		{% endif %}
		{% block content %}
		{% endblock %}
	</body>
</html>
