{% extends 'base.html' %}
{% block content %}
  <p>
    Sie werden per EMail informiert sobald ihre Anmeldung bearbeitet wurde.
  </p>
  <noscript>
    <h2>Bitte aktivieren sie JavaScript.</h2>
  </noscript>
  <form id="signup_form" method="POST" action="/api/add_player">
    <table>
      {% for field in [form.name, form.gender, form.birth_year, form.club, form.dwz, form.email] %}
        <tr>
          <td>{{ field.label }}</td>
          <td>{{ field }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td>
          <input type="submit" value="Teilnehmen">
        </td>
        <td><input type="reset" value="Löschen"></td>
      </tr>
    </table>
  </form>
  <script>
    const form = document.getElementById('signup_form');
    form.onsubmit = e => {
      e.preventDefault();
      fetch('/api/add_player', {
        method: 'POST',
        body: new FormData(form)
      })
      .then(r => r.json())
      .then(r => {
        if (r.status == 'success') {
          alert(r.message);
          form.reset();
        } else if (r.form_errors) {
          Array.from(form.elements)
            .filter(e => r.form_errors[e.name])
            .forEach(e => {
              e.setCustomValidity(r.form_errors[e.name].join('\n'))
              e.checkValidity();
            });
        } else {
          throw new Error(r.message);
        }
      }).catch(e => {
        console.error(e);
        alert('Auf Grund eines Fehlers ist die Anfrage gescheitert:\n' + e);
      });
    }
  </script>
{% endblock %}
